@font-face {
  font-family: "geomanistultra";
  src: url("geomanist-ultra-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  letter-spacing: 2px;
}

@font-face {
  font-family: "geomanistregular";
  src: url("geomanist-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "geomanistbold";
  src: url("geomanist-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "geomanistultraitalic";
  src: url("geomanist-ultra-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "geomanistregularitalic";
  src: url("geomanist-regular-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "geomanistbolditalic";
  src: url("geomanist-bold-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
